@charset "utf-8";

/* ========== 공통 ========== */
html, body {
	font-size: 16px;
	font-family:"Times New Roman";
	color: #393939;
	background: #ffffff;
}
body, div, p, h1, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
p, td, th, li {
	line-height: 1.8;
}
img {
	width: 100%;
	height: auto;
}
	
a {
	text-decoration: none;
}
/* ========== 내비게이션 ========== */
nav {
	background: #A4A4A4;
	font-size: 150%;
}
	.navbar {
		display: none;
		list-style-type: none;
	}
	.navbar p {
		display: block;
		padding: 1rem ;
		color: #fff;
		text-decoration: none;
	}


	.navbar {
		display: flex;
	}
	.navbar li {
		flex: auto;
		text-align: center;
	}

table {
	width: auto;
	border-collapse: collapse;
	text-align: center;
}
 
td,th {
	font-size: 10pt;
	border: 1px solid #BDBDBD;
	height: 30px;
	padding: 5px;
}

th {
	background-color: #BDBDBD;
	color: #ffffff;
	font-family: Georgia;
}

tr td {
	color: #000000;
	background-color: #ffffff;
	
}

input {
	height: 25px;
	width:200px;
}

input[type="submit"],[type="reset"],[type="button"] {
	height: 25px;
	width:80px;
}

.progress{width:100%;margin:20px auto;text-align:center}

.progress .circle,.progress .bar{position:relative;display:inline-block;background:#fff;width:40px;height:40px;border-radius:40px;border:1px solid #d5d5da}

.progress .circle:not(:last-child){margin-right:80px;}

.progress .bar{position:absolute;width:85px;height:6px;top:16px;left:40px;border-left:none;border-right:none;border-radius:0}

.progress .circle .label{display:inline-block;width:32px;height:32px;line-height:32px;border-radius:32px;margin-top:4px;color:#b5b5ba;font-size:17px}

.progress .circle .title{display:block;color:#b5b5ba;font-size:13px;line-height:30px;width:200px;margin-left:-80px;text-align:center}

.progress .done .bar,.progress .circle.done{background:#eee}

.progress .circle.done .label{color:#FFF;background:#8bc435}

.progress .circle.done .title{color:#444}

.progress .circle.active .label{color:#FFF;background:#0c95be}

.progress .circle.active .title{color:#0c95be}

