@charset "utf-8";

/* ========== 공통 ========== */
html, body {
	font-size: 16px;
	font-family:"Times New Roman";
	color: #393939;
	background: #efefef;
}
body, div, p, h1, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
p, td, th, li {
	line-height: 1.8;
}
img {
	width: 100%;
	height: auto;
}
	
a {
	text-decoration: none;
}
/* ========== 내비게이션 ========== */
nav {
	background: #A4A4A4;
}
	.navbar {
		display: none;
		list-style-type: none;
	}
	.navbar p {
		display: block;
		padding: 1rem ;
		color: #fff;
		text-decoration: none;
	}


	.navbar {
		display: flex;
	}
	.navbar li {
		flex: auto;
		text-align: center;
	}

table {
	width: auto;
	border-collapse: collapse;
	text-align: center;
}
 
td,th {
	font-size: 10pt;
	border: 1px solid #98bf21;
	height: 30px;
	padding: 5px;
}

th {
	background-color: #A7C942;
	color: #ffffff;
	font-family: Georgia;
}

tr td {
	color: #000000;
	background-color: #EAF2D3;
}

input {
	height: 25px;
	width:200px;
}

input[type="submit"],[type="reset"],[type="button"] {
	height: 25px;
	width:80px;
}