@charset "utf-8";

/* ========== 공통 ========== */
html, body {
	font-size: 16px;
	font-family:"Times New Roman";
	color: #393939;
	background: #ffffff;
}
body, div, p, h1, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
p, td, th, li {
	line-height: 1.8;
}
img {
	width: 100%;
	height: auto;
}
	
a {
	text-decoration: none;
}
.container {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
/* ========== 내비게이션 ========== */
nav {
	background: #A4A4A4;
	font-size: 150%;
}
	.navbar {
		display: none;
		list-style-type: none;
	}
	.navbar p {
		display: block;
		padding: 1rem ;
		color: #fff;
		text-decoration: none;
	}


	.navbar {
		display: flex;
	}
	.navbar li {
		flex: auto;
		text-align: center;
	}

header {
	background: #fff;
}

	.header-lo {
		list-style-type: none;
		text-align: right;
	}
	.header-lo li {
		display: inline;
		padding: 0 1rem 0 0;

	}
	.header-lo a {
		color: darkslategray;
		text-decoration: none;
	}

	.header-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.header-logo {
		width: 200px;
		height: 68px;
		padding: 10px 0;
	}
	
main h1 {
	margin-bottom: 1rem;
	border-bottom: 1px dashed #c94040;
	font-weight: normal;
	font-size: 1.6rem;
}
div {
    display: block;
}
html {
    color: -internal-root-color;
}