@charset "utf-8";

/* ========== 占쏙옙占쏙옙 ========== */
html, body {
	font-size: 16px;
	font-family:"Times New Roman";
	color: #393939;
	background: #efefef;
}
body, div, p, h1, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
p, td, th, li {
	line-height: 1.8;
}
img {
	width: 100%;
	height: auto;
}
	
a {
	text-decoration: none;
}
.container {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
/*  占쏙옙占쏙옙 */
main h1 {
	margin-bottom: 1rem;
	border-bottom: 1px dashed #c94040;
	font-weight: normal;
	font-size: 1.6rem;
}



/* ========== 占쏙옙占� ========== */



	
header {
	background: #fff;
}

	.header-lo {
		list-style-type: none;
		text-align: right;
	}
	.header-lo li {
		display: inline;
		padding: 0 1rem 0 0;

	}
	.header-lo a {
		color: darkslategray;
		text-decoration: none;
	}

	.header-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.header-logo {
		width: 200px;
		height: 68px;
		padding: 10px 0;
	}
	

/* ========== 占쏙옙占쏙옙占쏙옙抉占� ========== */
nav {
	background: #394939;
}
	.navbar {
		display: none;
		list-style-type: none;
	}
	.navbar a {
		display: block;
		padding: 1rem ;
		color: #fff;
		text-decoration: none;
	}


	.navbar {
		display: flex;
	}
	.navbar li {
		flex: auto;
		text-align: center;
	}

/*占쏙옙占싸소곤옙 */
	.home-mainc {
		text-align: center;
		font-size: 1.4rem;
		margin-bottom:50px;
	}
	.home-mainc strong {
		color: #c84040;
	}


	.home-mainc {
		font-size: 2.4rem;
	}



/* ========== 占쏙옙占쏙옙  ========== */
main {
	background: #fefef;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

/* 占쌓몌옙 占쌀곤옙 */
.home-course {
	display: flex;
	flex-flow: column;
}
.home-course li {
	flex: 1 1 auto;
	margin: 0 2px 4px 2px;
	border: solid 5px #fff;
	list-style-type: none;
	background: #fff;
}

.home-course {
		flex-flow: row;
	}

.home-course a {
	color: #393939;
	text-decoration: none;
}
.home-course figure:hover {
	opacity: 0.5;
}
.home-course figcaption {
	padding: 15px 0;
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
}


/* 占쏙옙占쏙옙占쏙옙占쏙옙*/
.home-h2 {


	border-bottom: 1px dashed #c84040;
	font-size: 2rem;

}
.gongjee {
	padding: 50px;
	border-radius: 10px;
	background: #fff;
}




/* ========== 푸占쏙옙 ========== */
footer {
	background: #fff;
	font-size: 1.5rem;
	color: #fff;
}
.footer-container {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
	color: black;
	text-decoration: none;
}

/* button class */
.page {
  width: 100vw;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}


/* add default color for animation start  */


/* toggle this class */

.color-bg-start {
  background-color: salmon;
}


/* toggle class bg-animate-color */

.bg-animate-color {
  animation: random-bg .5s linear infinite;
}


/* add animation to bg color  */

@keyframes random-bg {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.fun-btn {
  /* change bg color to get different hues    */
  background-color: #ee9300;
  color: white;
  border: none;
  transition: all .3s ease;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.fun-btn:hover {
  background-color: #f2c377;
}

.start-fun {
  background-color: #fff !important;
  /* change color of button text when fun is started   */
  color: salmon !important;
}

@CHARSET "UTF-8";

.bbsListTbl {width:1050px; margin:0 auto; border-top:2px solid #384d75;}
.bbsListTbl th, .bbsListTbl td {padding:10px; box-sizing:border-box; height:55px;}
.bbsListTbl th {border-bottom:1px solid #ccc; background:#f0f3fa;}
.bbsListTbl td {text-align:center; line-height:1.3; border-bottom:1px solid #ccc;}
.bbsListTbl td.tit_notice {text-align:center;}
.bbsListTbl td:nth-child(1) {width:10%;}
.bbsListTbl td:nth-child(2) {width:55%;}
.bbsListTbl td:nth-child(3) {width:15%;}
.bbsListTbl td:nth-child(4) {width:20%;}

/* 怨듭��궗�빆 �긽�꽭蹂닿린 */
.bbsview_list {width:1050px; margin:0 auto; padding-bottom:30px;  border-top:2px solid #384d75; text-align:left; list-style:none;}
.bbsview_list li {box-sizing:border-box; padding:0 15px; border-bottom:1px solid #ccc; font-size:14px; color:#666;}
.bbsview_list li.bbs_title {width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; height:50px; line-height:50px; font-weight:bold; font-size:16px;}
.bbsview_list li.bbs_hit {height:40px; line-height:40px; float:left; width:50%;}
.bbsview_list li.bbs_date {height:40px; line-height:40px; float:left; width:50%;}
.bbsview_list li.bbs_content {clear:both; min-height:200px; padding:20px 15px;}
.bbsview_list li.bbs_content .editer_content {line-height:1.4;}

input {
	height: 25px;
	width:200px;
	border-style:none;
}
.he{height:300px;}

